<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Reset Password</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= simple_form_for :reset_password, class: "form-horizontal" do |f| %>
      <%= f.input :email %>
      <div class="row submit_button">
        <%= f.button :submit, "Reset password", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
