<div class="post_body">
    <!-- < body = @post.body.split("\n") %> -->
    <!-- < simple_format body[0..1].join("\n\n") %> -->
    <blockquote>
      <%= @post.fact %>
    </blockquote>
    <!-- < simple_format body[2..-1].join("\n\n") %> -->
    <%= @post.body %>
</div>
