<h1> Share This Post </h1>

<div class="container">
  <%= simple_form_for :share, class: "form-horizontal" do |f| %>
  <%= f.input :share_with %>
  <div class="row submit_button">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
