<% content_for :title do %>
  About
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 about">
      <h1>I don't know what to put here.</h1>
      <h3>Otters are cute.</h3>
    </div>
  </div>
</div>
