// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   outline: solid red 1px;
// }

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  background-image: image-url("otter_swimming.jpg");
  background-size: cover;
  border-radius: 0 !important;
  height: 500px;
  padding-top: 0;
  text-align: center;

  .navbar {
    background: rgba(0,0,0,0);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 0px;

    .navbar-header {
      padding-top: 12px;
      padding-left: 150px;
    }
  }

  .navbar-text {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
  }

  .navbar-right {
    margin: 0px;
    padding-right: 130px;
    text-align: right;
    width: 28%;

    a {
      color: white;
    }

    .navbar-form {
      padding-top: 5px;
    }


  }

  h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8em;
    font-weight: bolder;
    margin-top: 100px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
  }

  h4 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 1px 1px 1px black;
  }
}

.title {
  padding-left: 15px;

  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    text-transform: uppercase;
  }
}

.byline {
  display: inline-block;
  height: 30px;

  img {
    height: 25px;
  }
}

.post_actions {
  display: inline-block;
  margin: 0px;

  .glyphicon {
    background-color: grey;
    font-size: 22px;
    padding: 4px;
    top: 0px;
  }

  .glyphicon.third_glyph {
    background-color: #4e6a96;
  }

  .glyphicon_button.third {
    background-color: #709fea;
  }

  .glyphicon_button {
    background-color: lightgrey;
    border-radius: 0px;
    height: 30px;
    border: none;
    margin-right: 10px;
    padding: 0px;

    .glyph {
      height: 30px;

      .glyph_text {
        bottom: 7px;
        display: inline-block;
        font-family: 'Open Sans Condensed', sans-serif;
        padding-left: 5px;
        padding-right: 8px;
        position: relative;
      }

    }
  }

  .glyphicon_button:hover {
    background-color: grey;
    opacity: 50%;
  }

  .post_button {
    background-color: lightgrey;
    border-radius: 0px;
    height: 30px;
    padding: 0px;

  }

  .button {
    font-family: 'Open Sans Condensed', sans-serif;

  }
}

blockquote {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
}

#sidebar {

  .img-circle {
    background-color: grey;
    margin-top: 50px;
    width: 100px;
  }

  .username {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .user_social {
    ul {
      font-family: 'Open Sans Condensed', sans-serif;
      list-style-type: none;
      padding: 0;
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 0px 5px;
    }
  }

  .ad img {
      margin-top: 50px;
      width: 100%;
    }


  #sidebar_header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    margin-top: 35px;
    text-transform: uppercase;
  }

}

#most_popular {
  border-top: lightgrey solid 1px;
  border-bottom: lightgrey solid 1px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  font-weight: bolder;
  margin-top: 80px;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;

  p {
    margin: 0px;
  }
}

#bottom_row {
  height: auto;
  margin: 0;

  .btn {
    margin: 0px;
    padding: 0px;
  }

  .popular:hover {
    opacity: 0.5;
  }

  .popular {
    height: auto;
    padding: 0px;

    .btn {
      border: none;
    }

    .center-block {
      background-size: cover;
    }
  }

  .bottom_titles {
    bottom: 0;
    color: white;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 5px;
    position: absolute;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    width: 100%;

  }

}

footer {
  background-color: black;
  color: lightgrey;
  height: 60px;
  padding-top: 10px;

  .footer_logo {
    padding-left: 200px;
  }

  .footer_row {
    margin: 0px;
  }

  .bottom_text {
    padding-top: 10px;
    padding-left: 80px;
  }

  .bottom_nav {
    display: inline-block;

    .btn-group {
      padding-top: 3px;
    }

    .btn {
      background-color: black;
      border: none;
      color: lightgrey;
    }
  }

}

.edit_delete {
  padding-bottom: 35px;
}

.make_new_post {
  text-align: center;

  .new_post_btn {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
  }

}

.post_body {
  padding-bottom: 20px;
}
