// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_form {
  padding-bottom: 20px;
  text-align: center;
}

.authors {
  text-align: right;
}

.posts_avatars {
  width: 50px;
}


.form_fields {
  padding-bottom: 50px;
  text-align: center;
}
